<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-if</title>

    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <button @click="switchIsShow()">Switch</button>  
        
        <div v-if="isShow">Hello</div>
        {{isShow}}
    </div>

    <script>
        const App = {
            data(){
                return{

                    isShow:false
                }

            },

            methods:{
                switchIsShow(){ //ถ้าตั้งเป็น switch จะไปทับกับ keyword
                    this.isShow = !this.isShow
                }
            }
            
        }

        Vue.createApp(App).mount('#app')

    </script>
</body>
</html>
