<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        

            <button @click="inc()">
                +
            </button>
            <h1>
                {{counter}}
            </h1>
            <button @click="dec()">
                -
            </button>
        
    </div>

    <script>
        const App={

            data(){
                return{
                    counter:0
                }
            },
            methods:{
                dec(){
                    if(this.counter<=0) return
                    this.counter--; //ต้องใช้ this ด้วย
                },
                inc(){
                    this.counter++;
                }
            }

        }
        Vue.createApp(App).mount('#app')
    </script>
</body>
</html>